<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app"></div>
  <template id="my-app">
    <ul>
      <!-- 遍历对象 可以遍历可迭代对象 -->
      <li v-for="(value,key,index) in info">{{value}}:{{key}}-{{index+1}}</li>
    </ul>
    <!-- 遍历字符串 -->
    <ul>
      <li v-for="item in 'message'">{{item}}</li>
    </ul>
    <!-- 遍历数字 -->
    <ul>
      <li v-for="item in 10">{{item}}</li>
    </ul>
  </template>
  <script src="../JS/vue.js"></script>
  <script>
    const App={
      template:'#my-app',
      data(){
        return {
          message:"Hello World",
          info:{name:"why",age:18,height:1.88}
        }
      }
    }
    Vue.createApp(App).mount("#app")
  </script>
</body>
</html>