<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    select:last-of-type {
      display: block;
    }
  </style>
</head>

<body>
  <div id="app"></div>
  <template id="my-app">
    <!-- v-model 要绑定在select上面 -->
    <!-- select单选 -->
    <select v-model="fruit">
      <option v-for="item in allFruits" :value="item.value" :key="item.value">{{item.text}}</option>
    </select>
    <h2>单选{{fruit}}</h2>

    <!-- 多选 -->
    <select multiple size="2" v-model="fruits">
      <option v-for="item in allFruits" :value="item.value" :key="item.value">{{item.text}}</option>
    </select>
    <h2>多选{{fruits}}</h2>

  </template>
  <script src="../JS/vue.js"></script>
  <script>
    const App = {
      template: '#my-app',
      data() {
        return {
          // 水果
          allFruits: [{ value: "apple", text: "苹果" }, { value: "banana", text: "香蕉" }, { value: "orange", text: "橘子" }],
          fruit: "",
          fruits: [],
        }
      }
    }
    Vue.createApp(App).mount("#app")
  </script>
</body>

</html>